<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/css/styles.css" rel="stylesheet">
	</head>
	<body>
    <nav class="navbar nav-dgs navbar-expand-lg navbar-dark bg-light sticky-top">
      <div class="container-fluid">
        <!-- <a class="navbar-brand bg-transparent" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <!-- <a class="navbar-brand" href="#"><button class=" btn btn-success bg-transparent">Home</button></a> -->
            <ul class="navbar-brand nav " >
              <%for(i=0;i<nav.length;i++){%>

              <li>
                <a  href="<%=nav[i].link%>"><button class="btn-space  btn btn-success bg-transparent"><%=nav[i].name%></button></a>

              </li>
              <%}%>
          </ul>
          </div>
        </div>
      </div>
    </nav>
    
    <div class="container col-lg-5    ">
      <div class="h3  text-center text-danger mt-3">BOOKS</div>
    <hr class="md-5">
        <div class=" form-brd   mb-5">
    <form  class="content-center">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Book Title</label>
          <input type="text" class="form-control" id="btitle" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" >Author</label>
            <input type="text" class="form-control" id="author" onkeyup="validatebook();" required >
            <label id="msg"></label>
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" >Gener</label>
          <input type="text" class="form-control" id="gener" onkeyup="validategener();" required>
          <label id="emsg"></label>

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Language</label>
            <input type="text" class="form-control" id="lng" onkeyup="validatelang();" required>
            <label id="lmsg"></label>

          </div>
       <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Published </label>
        <input type="date" class="form-control" id="lng" required>
       </div>
   <div class="mb-3">
    <input type="file" required multiple/>
  </div>
       <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary ">Submit</button></div>
     
      </form></div></div>

<script src="/js/script.js"></script>
      </body></html>
    
    